<nav class="navbar">
    <div class="container">
      <a href="/" class="logo">Real-time Polls</a>
      <div class="nav-links">
        <a href="/all-polls">View Polls</a>
        <!-- <a href="/polls">Vote</a> -->
      </div>
    </div>
  </nav>
  