
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Real-time Polls</title>
</head>
<body>

<%- include('partials/navbar') %>

<div class="container">
  <h1>Welcome to Poll Management Application</h1>
  <p>Choose your action:</p>
  <div class="cta-buttons">
    <a href="/create-poll" class="cta-button">New Poll</a>
    <a href="/poll_voting_list" class="cta-button">Vote on Poll</a>
  </div>
</div>

</body>
</html>
