
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Create a Poll</title>
</head>
<body>

<%- include('partials/navbar') %>

<div class="container">
  <h1>Create a New Poll</h1>
  <form action="/create-poll" method="POST">
    <label for="title">Poll Question:</label>
    <input type="text" id="title" name="title" required>
    <label for="title">Option 1:</label>
    <input type="text" id="option_1" name="option_1" required>
    <label for="title">Option 2:</label>
    <input type="text" id="option_2" name="option_2" required>
    <label for="title">Option 3:</label>
    <input type="text" id="option_3" name="option_3" required>
    <label for="title">Option 4:</label>
    <input type="text" id="option_4" name="option_4" required>
    <label for="title">Option 5:</label>
    <input type="text" id="option_5" name="option_5" required>
    <button>Submit</button>
  </form>
</div>

</body>
</html>
