
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Poll Details</title>
</head>
<body>

<%- include('partials/navbar') %>

<div class="container">
  <!-- Display poll details and voting options -->
  <% if (polls.length > 0) { %>
    <% polls.forEach(poll => { %>
        <h3 class="title"><%= poll.question  %></h3>
        <% if (poll.options.length > 0) { %>
            <% poll.options.forEach(option => { %>
                <p class="option"><%= option  %></p>
                <% }) %>
            <% } %>
    
    <% }) %>
<% } else { %>
    <p class="option">No polls found to display</p>
    <% } %>
</div>

</body>
</html>
