<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success Page</title>
</head>
<body>
  <h1><%= success_msg %></h1>
  <p>Your poll has been deleted successfully.</p>
  <!-- You can include additional content or styling as needed -->
</body>
</html>
